*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    place-items: center;
}

.container{
    width: 90vw;
    max-width: 480px;
    margin: 0 auto;
    padding: 10vh 2vw;
    
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}
.name{
    font-size: 1.6rem;
    margin-top: 10px;
}
.about {
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.8rem;
}
.button-container{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.btn{
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.instagram{
    background: linear-gradient(90deg, rgba(120,11,142,1)0%, rgba(168,36,25,1)51%, rgba(255,166,0,1)100%);
}
.youtube{
    background: linear-gradient(90deg, rgba(142,11,11,1)0%, rgba(223,23,23,1)100%);
}
.github{
    background: black;
}
.copyright{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
